.quotes{
    height: auto;
    background-color: white;
    margin-bottom: 3.5rem;
}
.Bred{
    color: red;
}
.Bblue{
color: blue;
}
.Bgary{
    color: gary;
}
.Bgreen{
color: yellowgreen;
}
.Bviolet{
color: violet;
}