.quotes{
    height: 150px;
    margin-bottom: 30px;
    background-color: white;
}
.Bred{
    color: red;
}
.Bblue{
color: blue;
}
.Bgary{
    color: gary;
}
.Bgreen{
color: yellowgreen;
}
.Bviolet{
color: violet;
}