.App {
  text-align: center;
  height: 100vh;
  display: flex;
}
.contenedor{
  width: 40%; 
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  border: 1px solid black;
  padding: 1rem;
  padding-bottom: .5rem;
  background-color: white;
}
.Bred{
  background-color: red;
}
.Bblue{
  background-color: blue;
}
.Bgary{
  background-color: gray;
}
.Bgreen{
  background-color: yellowgreen;
}
.Bviolet{
  background-color: violet;
}