.App {
  text-align: center;
  height: 100vh;
  padding-top: 18%;
}
.contenedor{
  width: 500px; 
  height: 250px;
  margin: auto;
  border: 1px solid black;
  padding: 1rem;
  padding-bottom: .5rem;
  background-color: white;
}
.Bred{
  background-color: red;
}
.Bblue{
  background-color: blue;
}
.Bgary{
  background-color: gray;
}
.Bgreen{
  background-color: yellowgreen;
}
.Bviolet{
  background-color: violet;
}